<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPD.Data2.Properties.Settings.CPDConnectionString" connectionString="Data Source=172.15.83.231\mssql2016std;Initial Catalog=CPD;Persist Security Info=True;User ID=CPD;Password=CPD!@#;Enlist=False;Pooling=True;Max Pool Size=40;Connect Timeout=10"/>
        <add name="CPD.Data2.Properties.Settings.CPDConnectionString3" connectionString="Data Source=172.15.83.231\mssql2016std;Initial Catalog=CPD;Persist Security Info=True;User ID=CPD;Password=CPD!@#;Enlist=False;Pooling=True;Max Pool Size=40;Connect Timeout=10"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
