<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CPD.Admin.Properties.Settings.CPDConnectionString" connectionString="Data Source=172.15.83.231\mssql2016std;Initial Catalog=CPD;Persist Security Info=True;User ID=CPD;Password=CPD!@#;Enlist=False;Pooling=True;Max Pool Size=40;Connect Timeout=10" />
        <add name="CPD.Admin.Properties.Settings.MIMSConnectionString" connectionString="Data Source=172.15.83.231\mssql2016std;Initial Catalog=MIMS3;Persist Security Info=True;User ID=MIMSWebServiceUser;Password=akkedis;Enlist=False;Pooling=True;Max Pool Size=40;Connect Timeout=10" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <runtime>
    <AutoGenerateBindingRedirects>true</AutoGenerateBindingRedirects>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp-WPF" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.31.5377.0" newVersion="1.31.5377.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
